body{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header__nav{
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    background-color: darkcyan;
    padding-inline: 3rem;
}
.nav__logo{
    font-size: 2rem;
    color: white;
    text-decoration: none;
}
.nav__links{
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav__links li a {
    text-decoration: none;
    color: white;
    position: relative;
}

.nav__links li a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-in-out;
}

.nav__links li a:hover::after {
    width: 100%;
}
